.info_panel {
	height: 8%;
}

.stop_info {
	font-size: 0.8em;
	font-weight: bold;
	margin-top: 1.2em;
	margin-left: 2%;
}

.change_stop_button {
	position: absolute;
	background: inherit;
	color: gray;
	top: 1em;
	right: 2%;
	border: 0px;
	font-size: 0.8em;
}

.bus_list_element {
	height: 10%;
	background: #F0ffff;
}

.bus_info {
	float: left;
	width: 15%;
}

.bus_number {
	margin-bottom: 5%;
}

.bus_type {
	color: grey;
	font-size: 0.8em;
}

.minutes {
	float: left;
	margin-top: 2%;
	margin-left: 30%;
}

.input_box {
	height: 2.5em;
}

.input_title {
	float: left;
	width: 20%;
	padding-left: 5%;
	padding-top: 0.8em;
	font-weight: bold;
	color: RGB(41, 207, 81);
}

.input_field {
	border: 0px;
	height: 2.5em;
	width: 80%;
}